h1 {
  margin-bottom: -11px;
  right: 0px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-weight: 700;
  fill: rgb(0, 0, 0);
  text-align: left;
  word-break: break-word;
}

h2 {
  margin-bottom: 30px;
  right: 0px;
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  fill: rgb(20, 20, 20);
  text-align: left;
  word-break: break-word;
}

#legend {
margin-bottom: -50px;

}

path {
  stroke: white;
  stroke-width: 1px;
}

body {
  font-family: 'Open Sans', sans-serif;
}

.city {
  font: 10px sans-serif;
  font-weight: 400;
}

div.tooltip {
  position: absolute;
  text-align: left;
  /* width: 150px;
  height: 25px; */
  padding: 4px 10px;
  font-size: 14px;
  font-weight: 400;
  background: #ffffff;
  border: 2px;
  border-radius: 0px;
  pointer-events: none;
}



.legendTitle {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  fill: #4F4F4F;
  font-weight: 12;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  /*black;*/
  shape-rendering: crispEdges;
}

.axis text {
  font-family: 'Open Sans', sans-serif;
  fill: #000;
  font-size: 9pt;
}
